@font-face {
    font-family: "Open Sans";
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:300')
}

.landing {
    position: relative;
    text-align: center;
    color: black;
    max-width: 100vh;
    min-width: 100%;
    min-height: 100%;
    max-height: 95vh;
    overflow: hidden;
}

.landing-img {
    float: left;
    height: 1020px;
    width: 3018px;
}

.landing-details {
    position: absolute;
    overflow: hidden;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inspirational-text {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    line-height: 80px;
    color: white;
}

#mission-statement {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: whitesmoke;
}

#submit-button {
    padding: 30px;
}

