@font-face {
    font-family: "Open Sans";
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:300')
}

.value-prop {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: auto;
    padding: 50px 5vw 100px;
    align-content: center;
    justify-items: flex-start;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
}

.detail {
    padding-left: 20px;
    padding-right: 20px;
}

img {
    width: 150px;
    height: 150px;
}

h2 {
    padding-top: 10px;
}

.blurb {
    text-align: justify;
    font-family: "Open Sans", sans-serif;
}