@font-face {
    font-family: "Open Sans";
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:300')
}

.value-prop {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 500px;
    padding-top: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
    align-content: center;
    justify-items: flex-start;
    justify-content: space-between;
    text-align: center
}

img {
    width: 150px;
    height: 150px;
}

h2 {
    padding-top: 10px;
}

.blurb {
    font-family: "Open Sans", sans-serif;
}