@font-face {
    font-family: "Open Sans";
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:300')
}

.header {
    width: 100vw;
    height: 70px;
    padding-top: 5px;
    background: #282828;
}

.menu-ul {
    vertical-align: bottom;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    height: 40px;
    z-index: 10;
    padding-bottom: 3px;
    list-style: none;
    overflow: hidden;
}

.logo {
    vertical-align: bottom;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: auto;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
}

.text-button {
    display: table-cell;
    vertical-align: bottom;
    border-left: 80px;
    border-right: 40px;
    padding: 5px 20px;
    font-size: 7px;
    text-decoration: none;
    color: white;
    background: #282828;
}

.text-button:hover {
    text-decoration: underline;
    text-decoration-color: orange;
    color: #e2e2e2;
}

.register {
    display: table-cell;
    width: 70px;
    vertical-align: bottom;
    border-left: 80px;
    border-right: 40px;
    padding: 4px 5px 20px 20px;
    font-size: 7px;
    text-decoration: none;
    color: white;
    background: orange;
    font-family: "Open Sans", sans-serif;
}

.register:hover {
    background: darkorange;
}

.Ascend-logo {
    width: 71px;
    height: 35px;
}
